.modal-content {
  background-color: #007BFF;
  border-radius: 10px;
  color: white;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-weight: bold;
  color: white;
}

.modal-body, .modal-footer {
  color: white;
}

.modal-footer button {
  background-color: white;
  color: #007BFF;
  border-radius: 5px;
}

.modal-footer button:hover {
  background-color: #005EAE;
  color: white;
}

.modal-body p {
  margin-bottom: 10px;
}

h1 {
  padding-bottom: 50px;
}
